/* Сброс стилей по умолчанию */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* top */
.meny_top {
    background: rgba(34, 34, 34, 1);
    height: 75px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10% 10px 10%;
    align-items: center;

    z-index: 1000;
}

.left_top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right_top {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Стили для кнопки */
.dropdown-btn {
    background-color: rgba(34, 34, 34, 1);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Стили для выпадающего меню */
.dropdown-content {

    display: none;
    position: absolute;
    top: calc(100% + 10px);
    background-color: #ffffff;
    min-width: 200px;
    /* Минимальная ширина меню */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content nav {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: rgba(111, 110, 110, 1);
    ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d4d4d4;
}

/* Показ меню при добавлении класса show */
.dropdown-content.show {
    display: block;
}

.kategori_nav {
    color: rgba(241, 109, 127, 1);
    padding: 5px 32px;
}

ul {
    list-style-type: none;
}

.title_nav {
    padding-left: 32px;
    padding-bottom: 10px;
}